/keys/
*.key
*_key.pem
*.srl
*.csr
*.ext
server/certs/ca.crt.old
server/firmware/*.bin
server/firmware/*.sig
server/firmware/manifest.json
server/firmware/manifest.json.orig
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/managed_components/
firmware/dependencies.lock
__pycache__/
*.pyc
.vscode/
.idea/
